{%extends 'base.html'%}
{%load widget_tweaks%}

{%block content%}
<div class="row">
    <div class="col-md-6">
        <div class="card mx-auto" style="width: 40rem;">
            <div class="card-body">
                <h5 class="card-title mb-0">Create a Leave Request</h5>

                <form method="post">
                    {%csrf_token%}
                    <div class="mb-3">
                        <label for="" class="form-label">Your Reason</label>
                        {%render_field form.reason class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Start Date</label>
                        {%render_field form.start_date type='date' class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">End Date</label>
                        {%render_field form.end_date type='date' class="form-control" %}
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Additional Comment</label>
                        {%render_field form.comment|attr:'rows:4' class="form-control" %}
                    </div>
                   
                    <button class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{%endblock content%}